* {
  box-sizing: border-box;
}

/* HELPERS */
.resize-btn{
  width: 39px;
    height: 33px;
}


html {
  font-family: Montserrat;
  color: black;
  font-size: 16px;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  width: 100%;
}

img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

/* HEADER */
.header-container {
  width: 100%;
  background-color: #414141;
  box-shadow: inset 0px -4px #1d1d1d;
  height: 105px;
}

/* MAIN */

main {
  height: 100vh;
}

/* GALLERY */

.grid-container {
  min-height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
  gap: 15px;
  padding:25px;

}

  .grid-img{
    
    background-color: rgb(84, 84, 170);
    padding: 5px;
    cursor: pointer;
  }

.item {
  background-color: black;
}

/* MEME EDITOR */
.meme-editor-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}
.canvas-section {
  float: left;
}
/* CANVAS */
.canvas-container {
  background-color: rgb(80, 80, 80);
  margin: 0 auto;
  padding: 25px;
  width: 100%;
  position: relative;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

.editor-container {
  padding: 25px;
  width: 60%;

  background-color: beige;
}

/* FOOTER */

.footer-container {
  width: 100%;
  background-color: #414141;
  box-shadow: inset 0px -4px #1d1d1d;
  height: 105px;
  /* position:absolute; */
}


