* {
  box-sizing: border-box;
}

/* HELPERS */

/* flex helpers */

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}
.flex.justify-center {
  justify-content: center;
}
.flex.space-around {
  justify-content: space-around;
}
.flex.space-evenly {
  justify-content: space-evenly;
}

.flex.align-center {
  align-items: center;
}

.flex.flex-direction-column {
  flex-direction: column;
}
.flex.flex-direction-row {
  flex-direction: row;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.visibility-hidden{
  visibility: hidden;
}

.display-flex {
  display: flex;
}

.none-active {
  display: none;
}
.active {
  display: flex;
}
.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo-x {
  color: #c5c6c7;
}

/* FONTS */

@font-face {
  font-family: bakbak;
  src: url(../fonts/BakbakOne-Regular.ttf);
}

@font-face {
  font-family: russo;
  src: url(../fonts/RussoOne-Regular.ttf);
  font-display: block;
}

/* LAYOUTS */

.main-layout {
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  width: 100%;
}

img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

/* HEADER */
.main-header {
  background-color: #393e46;
  box-shadow: inset 0px -4px #1d1d1d;
  height: 105px;
}

.header-container {
  width: 100%;
}

.header-container .logo {
  font-size: 2rem;
  font-family: russo, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #45a29e;
  text-shadow: -1px 3px 1px black;
}

.main-nav {
  width: 40%;
  justify-content: flex-end;
}


.main-header .main-nav a {
  width: 100%;
  height: 76px;
  text-decoration: none;
  color: #c5c6c7;
  text-shadow: 0px 1px 1px #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color 0.5s , background-color 0.5s;
}

.main-header .main-nav a:hover {
  color: #66fcf1;
  background-color: #424851;
}

.main-header .main-nav a:focus {
  color: #66fcf1;
}

.btn-menu {
  cursor: pointer;
  margin-inline-end: 60px;
}

/* SUB HEADER */
.subheader-container {
  background-color: #D06224;
  height: 60px;
}

.subheader {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 8px;
  color: #262626;
  text-shadow: -1px 1px 0px #dadada8c;
}

/* MAIN */

main {
  /* height: 100%; */
  background-color: #1f2833;
}


.search-bar{
font-size: 1.6rem;
    font-weight: 700;
    color: #c5c6c7;
    padding-block-start: 18px;
}
.search-input{
  padding: 5px 30px;
  border-radius: 5px;
  font-size: 1.1rem;
}
datalist {
  display: none;
}

/* GALLERY */

.grid-container {
  max-height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 250px repeat(auto-fill, minmax(250px, 250px));
  gap: 15px;
  padding: 35px 0;
  justify-content: center;
}

.grid-img {
  color: #8f9399;
  background-color: #0b0c10;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: padding 0.3s;
  font-weight: bold;
    letter-spacing: 0.2px;
}

.grid-img:hover {
  color: #8f9399;
  background-color: #0b0c10;
  padding: 3px;
  cursor: pointer;
}

.item {
  background-color: black;
}

/* MEME EDITOR */
.meme-editor-container {
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}

.editor-container .line-input {
  width: 80%;
  padding-block: 8px;
  margin-block: 20px;
}

.editor-container label {
  padding: 10px;
}

.font-select {
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: overlay;
  margin-block-start: 35px;
}

.font-select select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.font-select select:focus {
  outline: none;
}

/* CANVAS */
.canvas-container {
  background-color: rgb(80, 80, 80);
  margin: 0 auto;
  padding: 25px;
  width: 100%;
  position: relative;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: #505050;
}

.editor-container {
  padding: 25px;
  width: 60%;
  line-height: 20px;
  text-align: center;
  background-color: #505050;
  font-size: 1.1rem;
  font-weight: bold;
}

.dowload-btn a,
.dowload-btn a:active {
  color: inherit;
  text-decoration: none;
}

/* ABOUT */

.main-about{
border-top: 2px solid #505050;
margin: 0;
}

.about-container{
padding-block: 20px;

}
.img-container{
margin-inline-end: 20px;
}

.img-container .about-img{
  border-radius: 40px;
}

.info-container h3{
  font-size: 2rem;
    color: #c5c6c7;
    margin: 0;
    text-shadow: -1px 3px 3px black;
}

.info-container h4{
  font-size: 1.1rem;
  margin: 0;
  color: #c5c6c787;
}

.info-container p{
  font-size: 1.1rem;
  color: #faebd7a8;
  font-weight: 600;
}
.info-container .second-p{
  margin:0;
}

.fa-facebook-square:before {
  color: #4267b2;
  font-size: 50px;
  margin-inline-end: 10px;
}

.fa-github-square:before {
  color: antiquewhite;
  font-size: 50px;
  margin-inline-end: 10px;

}

.fa-youtube-square:before {
  color: red;
  font-size: 50px;
}

/* FOOTER */

.footer-container {
  width: 100%;
  background-color: #414141;
  border-top: 1px solid #1d1d1d;
}

.footer-container {
  width: 100%;
  background-color: #414141;
  height: 105px;
  /* position:absolute; */
}

.main-footer .logo {
  font-size: 1.5rem;
  font-family: russo, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #45a29e;
  text-shadow: -1px 3px 1px black;
}

.footer-copyrights {
  font-size: 1rem;
  color: white;
  letter-spacing: 1px;
  text-decoration: overline;
}

/* BUTTON CSS */
.button-style {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 15px;
  font-weight: 600;
}

.button-style:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-style:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-style:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.padd-hgt {
  height: 30px;
  margin-inline-start: 24px;
}

/* SCREENS */

.main-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  cursor: pointer;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.6s;
}

body.menu-open .main-screen {
  pointer-events: auto;
  opacity: 1;
}

/* BREAKPOINTS */

/* MOBILE ONLY */

@media (max-width: 850px) {
  /* HAMBURGER */
  .main-nav ul {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    background-color: #414141;
    height: 100vh;
    border-inline-start: 1px solid #414141;
    width: 200px;
    transform: translateX(100%);
    border-bottom: #1d1d1d 1px solid;
    border-left: #1d1d1d 1px solid;
    font-size: 1.4rem;

    transition: transform 0.6s, box-shadow 0.6s;
  }

  body.menu-open .main-nav ul {
    box-shadow: 0px 0px 30px rgb(0 0 0 / 30%);
    transform: translateX(0);
  }
}


@media (max-width: 1100px) {
  .meme-editor-container {
    flex-direction: column;
  }
  .canvas-container {
    background-color: rgb(80, 80, 80);
    margin: 0;
    padding: 10px;
    /* max-width: 700px; */
  }

  .editor-container {
    padding: 13px;
    width:100%;
    line-height: 3px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
  }
}

/* MEDIUM  */
@media (min-width: 850px) {
  .main-layout {
    max-width: 835px;
  }
  .main-header .main-nav a {
    width: 132px;
    height: 105px;
  }
  .main-header .main-nav a:hover {
    border-bottom: 4px solid #66fcf1;
  }

  .main-header .main-nav a:focus {
    border-bottom: 4px solid #66fcf1;
  }

  .canvas-container {
    height: 100%;
  }
  .color-input{

    margin-block-end: 15px;

  }

  canvas {
    margin-block-start: 15px;
  }

  .header-container .logo {
    font-size: 2rem;
    font-family: russo, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #45a29e;
    text-shadow: -1px 3px 1px black;
  }

  .subheader {
    font-size: 1.5rem;
  }

  .btn-menu {
    display: none;
  }
}


/* LARGE */
@media (min-width: 1120px) {
  .main-layout {
    max-width: 1150px;
  }
}
